pre:has(code) {
    span {
        &.function {
            color: #14FF00;
        }

        &.punctuation {
            color: #888;
        }

        &.comment {
            color: #666;
        }

        &.class-name {
            color: #6799FF;
        }

        &.keyword {
            color: $primary;
        }

        &.number {
            color: #f99;
        }

        &.string {
            color: #99f;

        }
    }
}